<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no, maximum-scale=1, user-scalable=no">

    {{> fonts_style}}
    {{> bootstrap_style}}    
    {{> jquery-ui_style}}
    
    <link rel="stylesheet" href="/css/home-style.css">
    
    {{> recaptcha_script_api}}
    {{> loading_style}}
</head>

<body>
    {{> loading_body}}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active ml-auto" href="/login">Iniciar Sesión</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h3 class="cover-heading">Solicita un acceso</h3>
            <p>Ingresa tu correo electrónico para solicitar un acceso.</p>
            <form method="post" action="/access-request">
                <input type="hidden" id="captcha" name="captcha">
                <input type="hidden" name="action" value="validate_captcha">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email-addon">@</span>
                    <input class="form-control" id="email" name="email" type="email" placeholder="Ingresa tu correo electrónico" required="required" aria-describedby="email-addon">
                    <div class="input-group-append">
                        <button type="submit" class="form-control btn-info">Signup</button>
                    </div>
                </div>
            </form>
            <p class="mt-4">Si ya tienes una cuenta puedes iniciar sesión <a class="active text-success" href="/login">pulsando aquí.</a></p>
            {{!<a class="btn btn-outline-success float-right" href="/login">Iniciar Sesión</a>}}

            <p class="">
                <!-- a href="#" class="btn btn-lg btn-secondary">Learn more</a-->
                {{> partial_messages}}
                {{> partial_errors}}
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <small style="opacity:.17;">Desarrollado por <a href="#">hacarapi</a></small>
            </div>
        </footer>

        <div id="dialog-message" class="dialog-message"></div>
    </div>

 
</body>
{{!-- SCRIPTS --}}
{{> jquery_script}}
{{> jquery-ui_script}}
{{> bootstrap_script}}  

{{> recaptcha_script_js}}
{{> loading_script}}
{{>partial_alert_script_js}}

</html>