<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <title>Iniciar Sesi칩n</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no, maximum-scale=1, user-scalable=no">
   <meta http-equiv="refresh" content="120">
   {{!-- GOOGLE FONTS --}}
   <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
   {{!-- BOOTSTRAP 4 --}}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
   <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"-->
   {{!-- JQUERY Ui--}}
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   {{!-- FONT AWESOME 5 --}}
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   {{!-- STYLES --}}
   <link rel="stylesheet" href="/css/login-style.css">
   {{!-- BOOTSTRAP TABLE --}}
   <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
   {{>partial_recaptcha_script_api}}
   {{>partial_loader_style}}
</head>

<body>
    {{>partial_loader_body}}                
   <section id="cover" class="min-vh-100">
      <div id="cover-caption">
         <div class="container">
            <div class="row text-white">
               <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">

                  <div id="modalLogin">
                     <div class="modal-dialog modal-login">
                        <div class="modal-content">
                           <div class="modal-header">
                              <div class="avatar">
                                 <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                              </div>

                              <h4 class="modal-title">Iniciar Sesi칩n</h4>

                           </div>
                           <div class="modal-body">
                              <form method="post" action="/login">
                                 <input type="hidden" id="captcha" name="captcha">
                                 <input type="hidden" name="action" value="validate_captcha">
                                 <div class="input-group mb-3" >
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Correo electr칩nico" required="required" aria-describedby="basic-addon1" value="{{email}}">
                                 </div>

                                 <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Contrase침a" required="required" aria-describedby="basic-addon2">
                                    <div class="input-group-append" id="show_hide_password"><span class="input-group-text"><a class="text-dark"><i class="fa fa-eye-slash" aria-hidden="true"></i></a></span></div>
                                 </div>

                                 <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                                 </div>
                              </form>
                           </div>
                           <div class="modal-footer ">
                              <form action="/forgot" method="get">
                                 <a href="#">Forgot Password?</a>                                 
                              </form>
                              <a class="active ml-auto text-dark" href="/"><i class="fa fa-arrow-circle-left p-2 " aria-hidden="true"></i>Volver</a>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="m-2">
                     {{> partial_messages}}
                     {{> partial_errors}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   {{!-- SCRIPTS --}}
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   {{!-- JQUERY Ui--}}
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

   {{>partial_recaptcha_script_js}}
   {{>partial_loader_script}}
   {{>partial_alert_script_js}}
</body>
<script>
   $(document).ready(function () {
      $("#show_hide_password a").on('click', function (event) {
         event.preventDefault();
         if ($('#password').attr("type") == "text") {
            $('#password').attr('type', 'password');
            $('#show_hide_password i').addClass("fa-eye-slash");
            $('#show_hide_password i').removeClass("fa-eye");
         } else if ($('#password').attr("type") == "password") {
            $('#password').attr('type', 'text');
            $('#show_hide_password i').removeClass("fa-eye-slash");
            $('#show_hide_password i').addClass("fa-eye");
         }
      });
   });
</script>
</html>