<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <title>Iniciar Sesión</title>
   <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no, maximum-scale=1, user-scalable=no"> 

   <meta http-equiv="refresh" content="120">
   {{> fonts_style}}
   {{> bootstrap_style}}
   {{> jquery-ui_style}}

   <link rel="stylesheet" href="/css/login-style.css">

   {{> recaptcha_script_api}}
   {{> loading_style}}
</head>

<body>
   {{> loading_body}}
   <section id="cover" class="min-vh-100">
      <div id="cover-caption">
         <div class="container">
            <div class="row text-white">
               <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto text-center form">

                  <div id="modalLogin">
                     <div class="modal-dialog modal-login">
                        <div class="modal-content p-0">
                           <div class="modal-header">
                              <div class="avatar">
                                 <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                              </div>

                              <h4 class="modal-title">Iniciar Sesión</h4>

                           </div>
                           <div class="modal-body">
                              <form method="post" action="/login">
                                 <input type="hidden" id="captcha" name="captcha">
                                 <input type="hidden" name="action" value="validate_captcha">
                                 <div class="input-group mb-3" >
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Correo electrónico" required="required" aria-describedby="basic-addon1" value="{{email}}">
                                 </div>

                                 <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Contraseña" required="required" aria-describedby="basic-addon2">
                                    <div class="input-group-append" id="show_hide_password"><span class="input-group-text"><a class="text-dark"><i class="fa fa-eye-slash" aria-hidden="true"></i></a></span></div>
                                 </div>

                                 <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary btn-block login-btn">Login</button>
                                 </div>
                              </form>
                           </div>
                           <div class="modal-footer mx-0 p-2">
                              <div class="col mx-0 px-0">
                                 <a class="text-dark" href="/forgot"><h7>¿Olvidó su contraseña?</h7></a>
                              </div>
                              <div class="col mx-0 px-0">
                                 <a class="text-dark" href="/"><h7>Solicitar un acceso</h7></a>    
                              </div>                                                           
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="m-2">
                     {{> partial_messages}}
                     {{> partial_errors}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</body>

{{!-- SCRIPTS --}}
{{> jquery_script}}
{{> jquery-ui_script}}
{{> bootstrap_script}}

{{> recaptcha_script_js}}
{{> loading_script}}
{{>partial_alert_script_js}}

<script>
   $(document).ready(function () {
      $("#show_hide_password a").on('click', function (event) {
         event.preventDefault();
         if ($('#password').attr("type") == "text") {
            $('#password').attr('type', 'password');
            $('#show_hide_password i').addClass("fa-eye-slash");
            $('#show_hide_password i').removeClass("fa-eye");
         } else if ($('#password').attr("type") == "password") {
            $('#password').attr('type', 'text');
            $('#show_hide_password i').removeClass("fa-eye-slash");
            $('#show_hide_password i').addClass("fa-eye");
         }
      });
   });
</script>

</html>