{{{breadcrumb}}}

<div class="container-fluid">
    <div class="card-deck m-4">
        {{#each areas}}
        <div class="card my-2" style="min-width: 18rem; max-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">{{detalle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total ambientes en el area :</h6>
                <h2 class="text-center p-0"><a href="areas/ubicaciones?area={{codigo}}"><span class="badge">{{ubicaciones}}</span></h2></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>