<div class="row">
    <div class="form-group col-12 mt-4 mb-1">
        <h5 class="border-bottom">Seleccione la ubicación :</h5>
    </div>
    <div class="form-group col-12 col-sm-6">
        <label class="sr-only" for="planta">Planta</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-fw fa-industry"></i></div>
            </div>
            <select id="planta" class="form-control"></select>
        </div>
    </div>

    <div class="form-group col-12 col-sm-6">
        <label class="sr-only" for="area">Area</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-fw fa-map"></i></div>
            </div>
            <select id="area" class="form-control"></select>
        </div>
    </div>

    <div class="form-group col-12">
        <label class="sr-only" for="ubicacion">Ubicacion</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-fw fa-location-arrow"></i></div>
            </div>
            <select id="ubicacion" class="form-control"></select>
        </div>
    </div>
</div>