<div class="row">
    <div class="col-6 text-center px-4">
        <button id="guardar" class="btn btn-outline-primary btn-block"><i class="fa fa-fw fa-save mr-1s"></i> Guardar Cambios</button>
    </div>
    <div class="col-6 text-center px-4">
        <button id="cancelar" class="btn btn-outline-danger btn-block"><i class="fa fa-fw fa-times-circle mr-1"></i>Cancelar</button>
    </div>
</div>