
    <nav class="navbar navbar-expand-lg navbar-dark bd-navbar justify-content-between p-2">
        <a class="navbar-brand" href="#">
            <span>
                <i class="fa fa-cloud mx-1"></i>
                Online
            </span>            
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav nav-tabs nav-fill btn btn-block ml-auto">
                <li class="nav-item">
                    <a class="nav-link {{#if navigate.dashboard}}active{{/if}}" href="/dashboard">
                        <span>
                            <i class="fa fa-chart-pie mx-1"></i>
                            DASHBOARD
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if navigate.datalogger}}active{{/if}}" href="/termohigrometria">
                        <span>
                            <i class="fa fa-chart-area mx-1"></i>
                            TERMOHIGROMETRIA
                        </span>                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if navigate.production}}active{{/if}}" href="/produccion">
                        <span>
                            <i class="fa fa-clock mx-1"></i>
                            PRODUCCION
                        </span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if navigate.capture}}active{{/if}}" href="/capturas">
                        <span>
                            <i class="fa fa-inbox mx-1" aria-hidden="true"></i>
                            BUS DE CAMPO
                        </span>
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link {{#if navigate.facilities}}active{{/if}}" href="/instalaciones">
                        <span>
                            <i class="fa fa-industry mx-1"></i>
                            INSTALACIONES
                        </span> 
                    </a>
                </li-->
            </ul>

            <div>
                {{#if user}}
                <div class="dropdown ml-auto active">
                    <button class="btn btn-block btn-outline-light dropdown-toggle" type="button" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-user-circle"> </i>
                        {{user.email}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-fill dropdown-menu-right w-100 " aria-labelledby="dropdownLogin">
                        {{#if user.email}}
                        <a class="btn btn-block dropdown-item" href="/administrar">
                            Administrar                            
                        </a>
                        <div class="dropdown-divider"></div>
                        {{/if}}
                        <a class="btn btn-block dropdown-item" href="/profile">Mi perfil</a>
                        <a class="btn btn-block dropdown-item " href="/notify">Notificaciones  <span class="badge badge-warning">9</span></a>                        
                        <div class="dropdown-divider"></div>
                        <a class="btn btn-block dropdown-item" href="/logout">Cerrar Sesión</a>
                    </div>
                </div>
                {{else}}
                <div class="text-center">	
                    <!--a href="#modalLogin" class="btn btn-block btn-secondary" data-toggle="modal">Iniciar Sesión</a-->
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
    {{!--
    <ol class="breadcrumb mb-2 px-2 py-0">
        <li class="breadcrumb-item active">
            <ul class="list-inline">
                <li class="list-inline-item">ALMACEN DE MATERIA PRIMA ANEXO EL ALTO</li>
                <li class="list-inline-item">/</li>
                <li class="list-inline-item">ALMACEN QUICK PICK</li>
            </ul>
        </li>
    </ol>
    <div class="row my-2">
        <form class="form-inline col-md-4 col-lg-5 col-xl-5 px-3">
            <div class="input-group col-sm-12 px-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-fw fa-map"></i>
                    </div>
                </div>
                <select id="inputState" class="form-control">
                    <option selected>Solidos No Estériles</option>
                    <option>Líquidos Esteriles</option>
                </select>
            </div>
        </form>
        <form class="form-inline col-md-4 col-lg-4 col-xl-5 px-3">
            <div class="input-group col-sm-12 px-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-fw fa-location-arrow "></i>
                    </div>
                </div>
                <select id="inputState" class="form-control">
                    <option selected>Envasado</option>
                    <option>Preparado</option>
                </select>
            </div>
        </form>

        <form class="form-inline col-md-4 col-lg-3 col-xl-2 px-3">
            <div class="input-group col-sm-12 px-0">

                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-fw fa-calendar "></i>
                    </div>
                </div>
                <input type="text" class="form-control" id="datepicker">
            </div>
        </form>
    </div>
    --}}
    <!--div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Primary Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Warning Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Success Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Danger Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div-->
