<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">            
            <li class="breadcrumb-item"><a href="/instalaciones">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/instalaciones/plant?view=MF">Planta Miraflores</a></li>
            <li class="breadcrumb-item"><a href="/instalaciones/planta/area?view=MF">Acondicionamiento</a></li>
            <li class="breadcrumb-item active" aria-current="page">Linea </li>
        </ol>
    </nav>
</div>