<ul class="breadcrumb" data-toggle="modal" data-target="#modal-find-zone">
    <span>
        <i class="fa fa-tasks mx-2"></i>
    </span>
    <li class="breadcrumb-item">
        Administrar
    </li>   
</ul>

<div class="container-fluid">
    <div class="card-deck m-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Instalaciones</h4>
                <p class="card-text">Equipos e Infraestuctura</p>
            </div>
            <div class="card-footer text-right">
                <a href="administrar/instalaciones" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Termohigrometria</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer text-right">
                <a href="#" class="btn btn-outline-primary">Administrar</a>
            </div>

        </div>
    </div>
</div>