<ul class="breadcrumb" data-toggle="modal" data-target="#modal-find-zone">
    <span>
        <i class="fa fa-tasks mx-2"></i>
    </span>
    <li class="breadcrumb-item">
        Administrar
    </li>   
</ul>

<div class="container-fluid">
    <div class="card-deck m-auto">
        <div class="card border-primary mb-3 mx-auto" style="min-width: 17.5rem; max-width: 20rem; max-width: 20rem;">
            <div class="card-body p-3">
                <h4 class="card-title">Instalaciones</h4>
                <p class="card-text">Equipos e Infraestuctura</p>
            </div>
            <div class="card-footer text-right">
                <a href="administrar/instalaciones" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="min-width: 17.5rem; max-width: 20rem; max-width: 20rem;">
            <div class="card-body p-3">
                <h4 class="card-title">Termohigrometria</h4>
                <p class="card-text">Administrar parametros de los termohigrometros.</p>
            </div>
            <div class="card-footer text-right">
                <a href="#" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="min-width: 17.5rem; max-width: 20rem; max-width: 20rem;">
            <div class="card-body p-3">
                <h4 class="card-title">Control de Produccion</h4>
                <p class="card-text">Administrar parametros de los contadores.</p>
            </div>
            <div class="card-footer text-right">
                <a href="#" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="min-width: 17.5rem; max-width: 20rem; max-width: 20rem;">
            <div class="card-body p-3">
                <h4 class="card-title">Bus de Campo</h4>
                <p class="card-text">Administrar parametros de las balanzas.</p>
            </div>
            <div class="card-footer text-right">
                <a href="#" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="min-width: 17.5rem; max-width: 20rem; max-width: 20rem;">
            <div class="card-body p-3">
                <h4 class="card-title">Dispositivos</h4>
                <p class="card-text">Administrar conexiones de los dispositivos.</p>
            </div>
            <div class="card-footer text-right">
                <a href="administrar/dispositivos" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="min-width: 17.5rem; max-width: 20rem; max-width: 20rem;">
            <div class="card-body p-3">
                <h4 class="card-title">Usuarios</h4>
                <p class="card-text">Administrar accesos y roles de usuario.</p>
            </div>
            <div class="card-footer text-right">
                <a href="administrar/usuarios" class="btn btn-outline-primary">Administrar</a>
            </div>
        </div>
    </div>
</div>