<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Runtime Online Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=yes, maximum-scale=1, user-scalable=yes">
    {{> fonts_style}}    
    {{> bootstrap_style}}    
    {{> bootstrap-table_style}}    
    {{> jquery-ui_style}}
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/tree.css">
    {{> loading_style}}
    {{> header_style}}
</head>

<body>    
    {{>header}}
    {{> loading_body}}
    {{{ body }}}
</body>
{{>jquery_script}}
{{>jquery-ui_script}}
{{>bootstrap_script}}
{{>bootstrap-table_script}}

{{> loading_script}}
{{>partial_dashboard_script_jquery_ui}}

<script src="js/tree.js"></script>
</html>